<div class="container">
	<h3><%= id %> Listing</h3>
	<table class='table'>
	<%= compiledIndexTableHeadings %>
	<%= compiledIndexForEach %>
	</table>
	<a href="/<%= modelControllerName%>/new/">New <%= id %></a>
</div>