<div class='container'>
	<%= compiledShowFormFields %>
</div>
<a href="/<%= modelControllerName %>/show/ERBstart<%= modelControllerName %>.id ERBend">Edit</a> |
<a href="/<%= modelControllerName %>">Back</a>